<section id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-box">
          
          <b>TRAINING</b>
          {% for text in seo.footertext %}
            <p>{{ text }}</p>
          {% endfor %}
        </div>
        <div class="col-md-4 footer-box">
            <p id="contact"><b>OUR OFFICES</b></p>

            <p><i class="fa fa-map-marker"></i>{{ site.address.line1 }}, {{ site.address.line2 }}, {{ site.address.town }}, {{ site.address.county }}, {{ site.address.country }}</p>
            <p><i class="fa fa-map-marker"></i>{{ site.addressDublin.line1 }}, {{ site.addressDublin.line2 }}, {{ site.addressDublin.town }}, {{ site.addressDublin.county }}, {{ site.addressDublin.country }}</p>
            <p><i class="fa fa-map-marker"></i>{{ site.addressLimerick.line1 }}, {{ site.addressLimerick.line2 }}, {{ site.addressLimerick.county }}, {{ site.addressLimerick.country }}</p>
        </div>
        <div class="col-md-4 footer-box">
          <p id="contact"><b>CONTACT US</b></p>
          
          <p><i class="fa fa-phone"></i>{{ site.phone }} (Cork)</p>
          <p><i class="fa fa-phone"></i>{{ site.phoneDublin }} (Dublin)</p>
          <p><i class="fa fa-phone"></i>{{ site.phoneLimerick }} (Limerick)</p>
          <p><i class="fa fa-envelope-o"></i><a href="mailto:{{ site.email }}">{{site.email}}</a></p> 
        </div>
        <div class="col-md-6 ">
          <p class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. All rights reserved | Designed by <a href="{{ site.designer.link }}">{{ site.designer.name }}</a></p>
        </div>
        <div class="col-md-6 text-right">
        <p class="copyright">
        </p>
        </div>
      </div>
      <br>
    </div>
</section>
