<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Course",
    "name": "",
    "description": "",
    "provider": {
        "@type": "Organization",
        "name": "Professional Training Solutions",
        "sameAs": ""
    },
    "review": {
        "@type": "",
        "datePublished": "",
        "reviewbody": "",
        "author": {
            "@type": "",
            "name": ""
        }
    }
}
</script>