<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "EducationalOrganization",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "{{site.addressDublin.town}}, {{site.addressDublin.county}}",
    "addressRegion": "{{site.addressDublin.country}}",
    "postalCode": "{{site.addressDublin.postcode}}",
    "streetAddress": "{{site.addressDublin.line1}}, {{site.addressDublin.line2}}"
  },
  "alumni": [
  ],
  "name": "{{ site.organisation.name }}"
}
</script>