<!-- EducationalEvents -->
<script type="application/ld+json">
[
    {% for courseItem in coursesapifull.courses %}
        {% if course.id == null or courseItem.id == course.id and courseItem.schedule.length > 0 %}
            {% for courseInstance in courseItem.schedule %}
                {{ courseInstance | formatScheduleInstance("metadata",courseItem) | safe }}
                {%if loop.index < courseItem.schedule.length %},{% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
]
</script>  