<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "{{ site.url }}/course name",
    "url": "{{ site.url }}/course name",
    "name": "Course Name"
    "datePublished": "",
    "dateModified": "",
    "description": "This {{site.searchKeywords[0]}} course is a focused, hands-on programme aimed at ensuring participants efficiently gain the skills they need to be more effective in their day to day roles.",
    "inLanguage": "en-GB",
    "isPartOf": {
        "@type": "WebSite",
        "@id": "{{site.url}}",
        "name": "{{site.name}}",
        "url": "{{site.url}}",
        "sameAs": "{{social.site.linkedin}}"
    }
}
</script>