<!DOCTYPE html>
<html lang="en">

  {% include "htmlhead.njk" %}

  <body id="top">
    <div class="content">

      {% include "nav.njk" %}


      {{ content | safe }}

    </div>


    {% include "footer.njk" %}

    <script>
      AOS.init({
        offset: 100
      });
    </script>

  </body>
</html>
