---
layout: general_layout
---
  <hr class="my-2">
  <h1>{{ course.name }}</h1>
  <hr class="my-3">
  
  <h2>Course Description</h2>
  <p>{{ course.descrip }}</p>
  <hr class="my-2">
  
  <div class="ui course-paragraphs">
  {% for paragraph in course.paragraphs %}
    <h3>{{ paragraph.title }}</h3>
    <p>{{ paragraph.text | convertLineBreaks | safe }}</p>
  {% endfor %}
</div>

<div>

{% if course.schedule != null and course.schedule.length > 0 %}
<hr class="my-2">
<h2>Schedule</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th><th>Date</th><th>Location</th><th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
{% for instance in course.schedule %}
    {{ instance | formatScheduleInstance("table", course) | safe }}
{% endfor %}
    </tbody>
</table>
{% endif %}


<hr class="my-2">
{% for searchword in course.searchWords.split(',') %}
<button class="btn btn-light" href="/courses/searchWords/{{ searchword }}">{{ searchword }}</button>
{% endfor %}
<hr class="my-2">
</div>

{% include "StructuredData/instances.njk" %}
