---
layout: general_layout
---

<hr class="my-2">
<h1>{{ search.title }}</h1>
  <hr class="my-3">
  
 
  <!-- debugging tip - pipe an object through the json filter to see what it is -->
  <!--{{ keyword | json}} -->

  
  <div class="ui">
  {% for paragraph in search.paragraphs %}
    <p>{{ paragraph | convertLineBreaks | safe }}</p>
  {% endfor %}
  </div>

  {% for course in search.courses %}

    <p> <a href="/courses/{{course.name | slug | removeInvalidChars}}">{{ course.name}}</a> </p>

  {% endfor %}

