---
layout: base_layout
---
{% include "StructuredData/carousel.njk" %}

{% include "StructuredData/instances.njk" %}

<section class="section">

    <div class="container">
        {{ content | safe }}
    </div>
</section>