---
layout: base_layout
---
{% include "StructuredData/carousel.njk" %}

{% include "StructuredData/instances.njk" %}

<section class="section">

    <div class="container">
        <hr class="my-2">
            <h1>{{ site.searchKeywords | join }} Course Schedule</h1>


            {% for courseItem in coursesapifull.courses %}
                {% if courseItem.schedule.length > 0 %}
                    <div>
                    <h2>{{ courseItem.name }}</h2>
                    <a href="/courses/{{ courseItem.name | slug }}/">Course Details</a>


                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th><th>Date</th><th>Location</th><th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for instance in courseItem.schedule %}
                    {{ instance | formatScheduleInstance("table", courseItem) | safe }}
                    {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% endif %}

            {% endfor %}


            

            
    </div>
</section>